<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Основы Vue</title>
		<link rel="stylesheet" href="theme.css" />
	</head>
	<body>
		<div class="container" id="app" v-cloak>
			<div class="card">
				<h1>План по изучению Vue.js</h1>
				<div class="steps">
					<div class="steps-content"> {{steps[current].text}}</div>
					<ul class="steps-list">
						<li v-for="(item, index) in steps" class="steps-item" :class="{
								active: current === index,
								done: index < current
							}" :key="item" @click="setActive(index)">
							<span>{{index + 1}}</span> Шаг {{index + 1}}
						</li>
					</ul>
					<div v-if="finish">
						<button class="btn" @click="reset">Начать заного</button>
					</div>
					<div v-else>
						<button class="btn" :disabled="disableBtn" @click="prev">Назад</button>
						<button class=" btn primary" @click="nextOfFinish">{{nameBtn}}</button>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="vue.js"></script>
	</body>
</html>
